* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.card {
  width: 350px;
  height: 400px;
  border: 1px solid black;
  border-radius: 6px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.task-input {
  display: flex;
  gap: 6px;
  align-items: center;
}

.background {
  background-color: green;
}
.flex {
  display: flex;
  align-items: center;
  gap: 6px;
}
