@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}
.toDoApp {
  width: 100%;
  max-width: 377px;
  height: fit-content;
  background-color: white;
  margin: 60px auto 20px;
  padding: 24px 16px;
  /* border: 1px solid black; */
  border-radius: 10px;
  box-shadow: 7px 7px 14px #cacaca, -7px -7px 14px #f6f6f6;
}
.header {
  display: flex;
  justify-content: center;
  color: #000;
  font-size: 20px;
  font-weight: 600;
  line-height: 28px;
  margin-bottom: 20px;
  margin: 0 auto;
  margin-bottom: 20px;
}
.row {
  display: flex;
  justify-content: space-between;
}
#input-box {
  height: 40px;
  width: 280px;
  border: solid 1px;
  border-radius: 6px;
  border-color: rgb(198, 198, 198);
  padding: 0 16px;
}
.add {
  background-color: #3c82f6;
  border: none;
  border-radius: 6px;
  width: 59px;
  height: 40px;
  color: white;
  font-size: 14px;
}
.filterButtons {
  display: flex;
  height: 32px;
  width: 345px;
  gap: 6px;
  justify-content: start;
  margin-top: 20px;
}
.filter-Btn {
  height: 32px;
  width: fit-content;
  background-color: #f3f4f6;
  border: none;
  border-radius: 6px;
  font-size: 12px;
  padding: 0 12px;
}
.filter-Btn.active {
  background-color: #3c82f6;
  color: white;
}
.done {
  text-decoration: line-through;
}
/* .active {
  height: 32px;
  width: 60px;
  background-color: #f3f4f6;
  border: none;
  border-radius: 6px;
  font-size: 12px;
}
.active.active {
  background-color: #3c82f6;
  color: white;
}
.completed {
  height: 32px;
  width: 87px;
  background-color: #f3f4f6;
  border: none;
  border-radius: 6px;
  font-size: 12px;
}
.completed.active {
  background-color: #3c82f6;
  color: white;
} */
.list-container {
  margin-top: 20px;
}
li {
  height: 62px;
  width: 345px;
  list-style: none;
  gap: 10px;
  display: flex;
  padding: 16px;
  cursor: pointer;
  border-radius: 6px;
  align-items: center;
  margin-bottom: 20px;
  justify-content: space-between;
  background-color: #f9fafb;
  transition: all 0.1s ease-in-out;
  p {
    margin-left: 0;
    margin-right: auto;
    overflow-y: scroll;
    scrollbar-width: none;
  }
}
li:hover {
  background-color: #f3f4f6;
}
#checkbox {
  cursor: pointer;
  accent-color: #3c82f6;
  height: 20px;
  width: 20px;
}
.deleteButton {
  height: 30px;
  width: 67px;
  font-size: 14px;
  background-color: #fef2f2;
  color: #ef4444;
  border: none;
  border-radius: 6px;
}
.flex {
  display: flex;
  justify-content: center;
  gap: 4px;
}
.grey {
  color: #6b7280;
  font-size: 12px;
}
.blue {
  color: #3b73ed;
  font-size: 12px;
}
.taskCount {
  display: flex;
  justify-content: space-between;
  height: 37px;
  width: 345px;
  padding-top: 16px;
  margin-bottom: 40px;
  border-top: 1px solid var(--border-border-border, #e4e4e7);
}
.taskCounter {
  font-size: 14px;
  color: #6b7280;
}
.clearComplete {
  background: none;
  border: none;
  color: #ef4444;
  font-size: 14px;
}
